   <h1>Alta de producto</h1>
<form id="idForm"> 
 
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input class="form-control" type="text"  aria-label="readonly input example" required name="title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input class="form-control" type="text"  aria-label="readonly input example" required name="description">
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input class="form-control" type="text"  aria-label="readonly input example" required name="category">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input class="form-control" type="number"  aria-label="readonly input example" required name="price">
  </div>
  <div class="mb-3">
    <label for="stock" class="form-label">Stock</label>
    <input class="form-control" type="number"  aria-label="readonly input example" required name="stock">
  </div>
  <div class="mb-3">
    <label for="code" class="form-label">Code</label>
    <input class="form-control" type="text"  aria-label="readonly input example" required name="code">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

